@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .col-3 {
        padding: 0.5%
    }

    tr{
        font-size:15px
    }
</style>
<script>
    //------------------------
    // Ready 함수
    //------------------------
    $(document).ready(function () {
        $('.J-datepicker-day').datePicker({
            format: 'YYYY-MM',
            language:'en'
        });

        $("#LoginType").val(@ViewBag.LoginType);
        if (@ViewBag.LoginType == "2")
        {
            $("#MemberStoreNo").val(@ViewBag.LoginStoreNo);
        }
    });

    //------------------------
    // Event Function
    //------------------------
    $(function () {
        //엔터 버튼 이벤트
        $(document).keydown(function (e) {
            if (e.keyCode == 13) {
                fnCreateDT();
            }
        });

        //리스트 조회 버튼 이벤트
        $("#btnSearch").on("click", function () {
            fnCreateDT();
        });

        //슈퍼유저시 가맹점별 정산상세내역 조회 버튼 이벤트
        $(document).on("click", ".btnMemberRSDetail", function () {

            var $memberStoreNo = $(this).data("memberstoreno");

            $("#tblMemberRSDetailList").dataTable({
                ajax: {
                    "url": "/RS/GetDirectSettleList",
                    "type": "POST",
                    "data": {
                        "StoreNo"    : $memberStoreNo,
                        "SettleYM"   : $("#SettleYM").val().replace("-", ""),
                        "SettleType" : $("#SettleType").val(),
                        "LoginType"  : 2
                    }
                },
                columns: [
                    { data: "memberStoreNo" },
                    { data: "memberStoreName" },
                    { data: "userNo" },
                    { data: "userName" },
                    { data: "applyAmt", render: $.fn.dataTable.render.number( ',', '.', 0, '' )},
                    { data: null, render: fnRenderStateCode },
                    { data: "applyDate" },
                ],
                destroy: true,
                ordering: false,
                searching: false,
                serverSide: false
            });

            $("#MemberRSDetailModal").modal("show");
        });
    });

    //------------------------
    // 조회테이블 생성
    //------------------------
    function fnCreateDT() {
        if (@ViewBag.LoginType == "1")
        {
            $("#tblSuperRSList").show();
            $("#tblMemberRSList").hide();

            $("#tblSuperRSList").dataTable({
                ajax: {
                    "url": "/RS/GetDirectSettleList",
                    "type": "POST",
                    "data": {
                        "StoreNo"    : $("#MemberStoreNo").val(),
                        "SettleYM"   : $("#SettleYM").val().replace("-", ""),
                        "SettleType" : $("#SettleType").val(),
                        "LoginType"  : $("#LoginType").val()
                    }
                },
                columns: [
                    { data: "memberStoreNo" },
                    { data: null, render: fnRenderStoreName },
                    { data: "applyCnt", render: $.fn.dataTable.render.number( ',', '.', 0, '' )},
                    { data: "applyAmt", render: $.fn.dataTable.render.number( ',', '.', 0, '' )}
                ],
                destroy: true,
                ordering: false,
                searching: false,
                serverSide: false
            });
        }
        else if (@ViewBag.LoginType == "2")
        {
            $("#tblSuperRSList").hide();
            $("#tblMemberRSList").show();

            $("#tblMemberRSList").dataTable({
                ajax: {
                    "url": "/RS/GetDirectSettleList",
                    "type": "POST",
                    "data": {
                        "StoreNo"    : $("#MemberStoreNo").val(),
                        "SettleYM"   : $("#SettleYM").val().replace("-", ""),
                        "SettleType" : $("#SettleType").val(),
                        "LoginType"  : $("#LoginType").val()
                    }
                },
                columns: [
                    { data: "memberStoreNo" },
                    { data: "memberStoreName" },
                    { data: "userNo" },
                    { data: "userName" },
                    { data: "applyAmt", render: $.fn.dataTable.render.number( ',', '.', 0, '' )},
                    { data: null, render: fnRenderStateCode },
                    { data: "applyDate" },
                ],
                destroy: true,
                ordering: false,
                searching: false,
                serverSide: false
            });
        }
    }

    //------------------------
    // 슈퍼유저시 - 가맹점명 렌더링
    //------------------------
    function fnRenderStoreName(data, type, row) {
        var strHtml = "";

        strHtml += "<div>";
        strHtml += "    <button class='btn btn-outline-success btnMemberRSDetail' data-memberstoreno='" + data.memberStoreNo + "'>" + data.memberStoreName + "</button>";
        strHtml += "</div>";

        return strHtml;
    }

    //------------------------
    // 상태 렌더링
    //------------------------
    function fnRenderStateCode(data, type, row) {
        var strHtml = "";

        strHtml += (data.useState == "2") ? "승인" : "<span style='color:blue'>완료</span>";

        return strHtml;
    }

</script>

<!-- START Main Page -->
<div class="text-center">
    <div>
        <h4 style="float:left">@ViewBag.ThisPage</h4>
    </div>

    <!-- START Search Area -->
    <div>
        <br /><br />
        <form id="frmSearch" style="margin-left:3%">
            <input type="hidden" id="SettleType" value="1" />
            <input type="hidden" id="LoginType" />
            <input type="hidden" id="MemberStoreNo" />
            <div class="row">
                <div class="col-3">
                    <div class="c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day" style="width:240px">
                        <i class="c-datepicker-range__icon kxiconfont icon-clock"></i>
                        <input type="text" id="SettleYM" placeholder="정산년월" class="c-datepicker-data-input only-date" value="2020-01" required>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-3"></div>
                <div class="col-2"></div>
                <br />
                <div class="col-3"></div>
                <div class="col-2"></div>
                <div class="col-3"></div>
                <div class="col-2"></div>
            </div>
        </form>
        <button type="button" id="btnSearch" class="btn btn-primary" style="float:right;margin-bottom:1%">조회</button>
    </div>
    <!-- END Search Area -->

    <br />

    <!-- START Super RS List Area -->
    <div>
        <table class="table" id="tblSuperRSList" style="display:none">
            <thead>
                <tr>
                    <th>가맹점번호</th>
                    <th>가맹점명</th>
                    <th>총신청개수</th>
                    <th>총신청금액</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- END Super RS List Area -->
    <!-- START MemberStore RS List Area -->
    <div>
        <table class="table" id="tblMemberRSList" style="display:none">
            <thead>
                <tr>
                    <th>가맹점번호</th>
                    <th>가맹점명</th>
                    <th>직원번호</th>
                    <th>직원명</th>
                    <th>신청금액</th>
                    <th>상태</th>
                    <th>승인일시</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- END MemberStore RS List Area -->

    <br />
</div>
<!-- END Main Page -->

<!-- START MemberStore RS Detail Modal -->
<div class="modal fade" id="MemberRSDetailModal" tabindex="-1" role="dialog" aria-labelledby="MemberRSDetailModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MemberRSDetailModal">가맹점 정산상세내역</h5>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table" id="tblMemberRSDetailList">
                        <thead>
                            <tr>
                                <th>가맹점번호</th>
                                <th>가맹점명</th>
                                <th>직원번호</th>
                                <th>직원명</th>
                                <th>신청금액</th>
                                <th>상태</th>
                                <th>승인일시</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- END MemberStore RS Detail Modal-->
