@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .col-3 {
        padding:0.5%
    }
    tr{
        font-size:13px
    }
</style>
<script>

    //------------------------
    // Ready 함수
    //------------------------
    $(document).ready(function () {

        if (@ViewBag.LoginType == "1")
        {
            $("#MemberStoreNo").attr("disabled", false);
        }
        else if (@ViewBag.LoginType == "2")
        {
            $("#MemberStoreNo").val(@ViewBag.LoginStoreNo);
            $("#MemberStoreNo").attr("disabled", true);
        }
    });

    //------------------------
    // 모달값 초기화
    //------------------------
    function fnInit() {
        $("#itemWorkApplyNo").val("");
        $("#itemWorkUserNo").val("");
        $("#itemWorkTeamName").val("");
        $("#itemWorkBPLevelName").val("");
        $("#itemWorkUserName").val("");

        $("#itemWorkDescription").val("");
        $("#itemWorkTotalInCnt").val("");
        $("#itemWorkImageDir").val("");
        $("#itemWorkPrice").val("");
        $("#itemWorkTotalOutCnt").val("");

        $("#itemWorkRemainCnt").val("");
        $("#itemWorkItemName").val("");
    }

    //------------------------
    // Event Function
    //------------------------
    $(function () {
        fnInit();

        //엔터 버튼 이벤트
        $(document).keydown(function (e) {
            if (e.keyCode == 13) {
                fnCreateDT();
            }
        });

        //리스트 조회 버튼 이벤트
        $("#btnSearch").on("click", function () {
            if (!$("#MemberStoreNo").val()) {
                alert("가맹점을 선택해주세요.");
                return false;
            }
            fnCreateDT();
        });

        //중고물품 금액 버튼 이벤트
        $(document).on("click", ".btnBPWork", function () {

            $("#itemWorkApplyNo").val($(this).data("applyno"));

            fnDetailItemApply();
        });

        //중고물품 상세내역 모달 확인 버튼 이벤트
        $("#btnWorkConfirm").on("click", function () {
            $.ajax({
                url: "/Point/UpdItemApply",
                type: 'POST',
                data: {
                    ApplyNo   : $("#itemWorkApplyNo").val(),
                    StateCode : $("#itemWorkStateCode").val()
                },
                dataType: 'json',
                success: function (result) {
                    var jsonData = result.data;

                    if (jsonData.retVal == 0) {
                        alert("작업 성공");
                    }
                    else {
                        alert("[" + jsonData.retVal + "]" + jsonData.errMsg);
                    }
                    $('#itemWorkModal').modal("hide");
                    location.reload();
                },
                error: function () {
                    alert("Ajax Exception Error Occured");
                    $('#itemWorkModal').modal("hide");
                    location.reload();
                }
            })
        });
    });

    //------------------------
    // 조회테이블 생성
    //------------------------
    function fnCreateDT() {
        $('#tblList').dataTable({
            ajax: {
                "url": "/Point/GetItemApplyList",
                "type": "POST",
                "data": {
                    "MemberStoreNo": $("#MemberStoreNo").val(),
                    "StateCode"    : $("#StateCode").val()
                }
            },
            columns: [
                { data: "userNo" },
                { data: "userName" },
                { data: "itemName" },
                { data: null, render: fnRenderPrice },
                { data: "totalINCnt", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                { data: "totalOUTCnt", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                { data: "remainCnt", render: $.fn.dataTable.render.number( ',', '.', 0, '' ) },
                { data: null, render: fnRenderStateCode },
                { data: "regDate" },
                { data: "updDate" }
            ],
            destroy: true,
            ordering: false,
            searching: false,
            serverSide: false
        });
    }

    //------------------------
    // 금액 렌더링
    //------------------------
    function fnRenderPrice(data, type, row) {
        var strHtml = "";

        strHtml += "<div>";
        strHtml += "    <button class='btn btn-outline-success btnBPWork' data-applyno='" + data.applyNo + "'>" + comma(data.price) + "</button>";
        strHtml += "</div>";

        return strHtml;
    }

    //------------------------
    // 상태 렌더링
    //------------------------
    function fnRenderStateCode(data, type, row) {
        var strHtml = "";

        switch (data.stateCode) {
            case 1:
                strHtml += "요청";
                break;
            case 2:
                strHtml += "<span style='color:green'>승인</span>";
                break;
            case 3:
                strHtml += "<span style='color:red'>거절</span>";
                break;
            case 4:
                strHtml += "<span style='color:blue'>완료</span>";
                break;
        }

        return strHtml;
    }

    //------------------------
    // 중고물품 상세내역 조회
    //------------------------
    function fnDetailItemApply() {
        $.ajax({
            url: "/Point/DetailItemApply",
            type: 'POST',
            data: {
                MemberStoreNo: $("#MemberStoreNo").val(),
                ApplyNo      : $("#itemWorkApplyNo").val()
            },
            dataType: 'json',
            success: function (result) {
                var jsonData   = result.data;

                if (jsonData.retVal == 0) {
                    $("#itemWorkUserNo").val(jsonData.data.userNo);
                    $("#itemWorkTeamName").val(jsonData.data.objUserModel.teamName);
                    $("#itemWorkBPLevelName").val(jsonData.data.objUserModel.bpLevelName);
                    $("#itemWorkUserName").val(jsonData.data.userName);
                    $("#itemWorkDescription").val(jsonData.data.description);

                    $("#itemWorkTotalInCnt").val(comma(jsonData.data.totalINCnt));
                    $("#itemWorkImageDir").val(jsonData.data.imageDir);
                    $("#itemWorkPrice").val(comma(jsonData.data.price));
                    $("#itemWorkStateCode option[value='" + jsonData.data.stateCode + "']").prop("selected", true);
                    $("#itemWorkTotalOutCnt").val(comma(jsonData.data.totalOUTCnt));

                    $("#itemWorkRemainCnt").val(comma(jsonData.data.remainCnt));
                    $("#itemWorkItemName").val(jsonData.data.itemName);

                    $("#itemWorkModal").modal("show");
                }
                else {
                    alert("[" + jsonData.retVal + "]" + jsonData.errMsg);
                }
            },
            error: function () {
                alert("Ajax Exception Error Occured");
            }
        });
    }

</script>

<!-- START Main Page -->
<div class="text-center">
    <div>
        <h4 style="float:left">@ViewBag.ThisPage</h4>
    </div>

    <!-- START Search Area -->
    <div>
        <br /><br />
        <form id="frmSearch" style="margin-left:3%">
            <div class="row">
                <div class="col-3">
                    <select class="form-control" id="MemberStoreNo">
                        @Html.Raw(ViewBag.MemberStoreDDLB)
                    </select>
                </div>
                <div class="col-2"></div>
                <div class="col-3">
                    <select class="form-control" id="StateCode">
                        @Html.Raw(ViewBag.StateCodeDDLB)
                    </select>
                </div>
                <div class="col-2"></div>
                <br />
                <div class="col-3"></div>
                <div class="col-2"></div>
                <div class="col-3"></div>
                <div class="col-2"></div>
            </div>
        </form>
        <button type="button" id="btnSearch" class="btn btn-primary" style="float:right;margin-bottom:1%">조회</button>
    </div>
    <!-- END Search Area -->

    <br />

    <!-- START List Area -->
    <div>
        <table class="table" id="tblList">
            <thead>
                <tr>
                    <th>직원번호</th>
                    <th>직원명</th>
                    <th>상품명</th>
                    <th>금액</th>
                    <th>입고수량</th>
                    <th>판매수량</th>
                    <th>잔여수량</th>
                    <th>상태</th>
                    <th>등록일</th>
                    <th>수정일</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- END List Area -->
</div>
<!-- END Main Page -->

<!-- START Item Work Modal -->
<div class="modal fade" id="itemWorkModal" tabindex="-1" role="dialog" aria-labelledby="itemWorkModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemWorkModal">중고물품 상세내역</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="itemWorkApplyNo" />
                    <div class="form-group col-md-6">
                        <label>직원번호</label>
                        <input type="text" class="form-control" id="itemWorkUserNo" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>소속팀</label>
                        <input type="text" class="form-control" id="itemWorkTeamName" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>직급</label>
                        <input type="text" class="form-control" id="itemWorkBPLevelName" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>직원명</label>
                        <input type="text" class="form-control" id="itemWorkUserName" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>상품명</label>
                        <input type="text" class="form-control" id="itemWorkItemName" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>상품설명</label>
                        <input type="text" class="form-control" id="itemWorkDescription" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>금액</label>
                        <input type="text" class="form-control" id="itemWorkPrice" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>입고수량</label>
                        <input type="text" class="form-control" id="itemWorkTotalInCnt" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>판매수량</label>
                        <input type="text" class="form-control" id="itemWorkTotalOutCnt" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>잔여수량</label>
                        <input type="text" class="form-control" id="itemWorkRemainCnt" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>물품사진</label>
                        <input type="text" class="form-control" id="itemWorkImageDir" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label>상태</label>
                        <select class="form-control" id="itemWorkStateCode">
                            @Html.Raw(ViewBag.StateCodeDDLB)
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btnWorkConfirm">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- END BP Work Modal-->
